.dropdown-toggle {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dropdown-menu {
  inset: 0px 0px auto auto !important;
  -webkit-transform: none !important;
          transform: none !important;
  top: 40px !important;
  padding: 4px;
  min-width: 100px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #dc3545;
  color: #fff;
  border-radius: 4px;
}
