.dropdown-toggle {
	background-color: #eee;
	color: #ccc;
	border: none;
	box-shadow: none !important;

	&:hover {
		background-color: #ccc !important;
		color: #fff !important;
	}
}

.show > .btn-primary.dropdown-toggle,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
	background-color: #eee;
	color: #ccc;
	border: none;
}

.dropdown-menu {
	inset: 0px 0px auto auto !important;
	transform: none !important;
	top: 40px !important;
	padding: 4px;
	min-width: 100px;

	.dropdownItemEdit:hover {
		background-color: teal;
		color: #fff;
		border-radius: 4px;
	}

	.dropdownItemDelete:hover {
		background-color: #dc3545;
		color: #fff;
		border-radius: 4px;
	}
}
