.topBarContainer {
  background-color: purple;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topBarContainer .row {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBarLeft .logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .topBarLeft .logo {
    font-size: 24px;
  }
}

.topBarCenter .searchBar {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBarCenter .searchBar .searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.topBarCenter .searchBar .searchInput {
  width: 90%;
  border: none;
  font-size: 14px;
}

.topBarCenter .searchBar .searchInput:focus {
  outline: none;
}

.topBarCenter .searchUserListModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
}

.topBarCenter .searchUserListModal .searchUserListWrap {
  top: 40px;
  left: 35%;
}

.topBarRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
}

.topBarRight a {
  text-decoration: none;
  color: inherit;
}

.topBarRight .topBarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topBarRight .topBarIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topBarRight .topBarIcons .topBarIconItem {
  cursor: pointer;
  position: relative;
}

.topBarRight .topBarIcons .topBarIconBadge {
  width: 15px;
  height: 15px;
  background-color: #ffc;
  border-radius: 50%;
  color: #000;
  position: absolute;
  top: -8px;
  left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8px;
  font-weight: bold;
}

.topBarRight .topBarIcons .personalModal {
  min-width: 120px;
  top: 42px;
  right: 16px;
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  z-index: 50;
}

@media screen and (max-width: 767px) {
  .topBarRight .topBarIcons .personalModal {
    right: 0;
  }
}

.topBarRight .topBarIcons .personalModal .personalModalBtn {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 34px;
}

.topBarRight .topBarIcons .personalModal .personalModalBtn#personalTimeList:hover {
  background-color: purple;
  border-radius: 4px;
}

.topBarRight .topBarIcons .personalModal .personalModalBtn#personalTimeList:hover span {
  color: #fff !important;
}

.topBarRight .topBarIcons .personalModal .personalModalBtn#personalInfoBtn:hover, .topBarRight .topBarIcons .personalModal .personalModalBtn#followingsBtn:hover, .topBarRight .topBarIcons .personalModal .personalModalBtn#recommendUserBtn:hover {
  background-color: teal;
  color: #fff !important;
  border-radius: 4px;
}

.topBarRight .topBarIcons .personalModal .rightBarFollowings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100%;
  max-height: 250px;
  overflow-y: scroll;
  background-color: #f8f8e8;
}

.topBarRight .topBarIcons .personalModal .rightBarFollowings .rightBarFollowingsLink {
  color: #000;
  text-decoration: none;
}

.topBarRight .topBarIcons .personalModal .rightBarFollowings .rightBarFollowingsLink:visited {
  color: #000;
}

.topBarRight .topBarIcons .personalModal .rightBarFollowings .rightBarFollowingsLink.noFriends {
  pointer-events: none;
}

.topBarRight .topBarIcons .personalModal .rightBarFollowings .rightBarFollowing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.topBarRight .topBarIcons .personalModal .rightBarFollowings .rightBarFollowing:hover {
  background-color: #eee;
  border-radius: 5px;
}

.topBarRight .topBarIcons .personalModal .rightBarFollowings .rightBarFollowing .rightBarFollowingImg {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 8px;
}

.topBarRight .topBarIcons .personalModal .rightBarFollowings .rightBarFollowing .rightBarFollowingName {
  text-decoration: none;
}

.topBarRight .topBarIcons .personalModal .recommendUserList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  max-height: 250px;
  overflow-y: scroll;
  background-color: #f8f8e8;
}

.topBarRight .topBarIcons .personalModal .recommendUserList .recommendUser:hover {
  background-color: #eee;
  border-radius: 16px;
}

.topBarRight .topBarIcons .personalModal button {
  width: 100%;
  height: 34px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.topBarRight .topBarIcons .personalModal button#logoutBtn:hover {
  background-color: #dc3545;
  color: #fff;
  border-radius: 4px;
}

.topBarRight .topBarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
