.birthdayContainer {
	display: flex;
	align-items: center;

	.birthdayImg {
		width: 32px;
		margin-right: 16px;
	}

	.birthdayText {
		font-size: 16px;
	}
}

.rightBarFriendList {
	list-style: none;
	padding: 0;
	margin: 0;
}

//ProfileRightBar
//rightBarFollowButton
.rightBarFollowButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffa;
	border-radius: 8px;
	padding: 12px;
	margin-top: 42px;
	cursor: pointer;
	max-width: 130px;

	&.unFollowBtn {
		background-color: #eee;
	}

	@media screen and (max-width: 767px) {
		margin-top: 0;
		margin-bottom: 16px;
		max-width: 100%;
	}
}

.rightBarTitle {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;

	@media screen and (max-width: 767px) {
		cursor: pointer;
		text-align: center;
		&:hover {
			background-color: #fcfcd0;
		}

		&.active {
			background-color: #fcfcd0;
		}
	}
}

//rightBarInfo
.rightBarInfo .rightBarInfoItem {
	margin-bottom: 10px;

	.rightBarInfoKey {
		font-weight: 500;
		margin-right: 16px;
		color: #555;
	}

	.rightBarInfoValue {
		font-weight: 300;
	}
}

//rightBarFollowings
.rightBarFollowings {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	justify-content: space-around;
	grid-gap: 16px;

	.rightBarFollowingsLink {
		color: #000;
		text-decoration: none;

		&:visited {
			color: #000;
		}

		&.noFriends {
			pointer-events: none;
		}
	}

	.rightBarFollowing {
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;

		.rightBarFollowingImg {
			width: 100px;
			height: 100px;
			object-fit: cover;
			border-radius: 5px;
			margin-bottom: 8px;
		}

		.rightBarFollowingName {
			text-decoration: none;
		}
	}
}
