.birthdayContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.birthdayContainer .birthdayImg {
  width: 32px;
  margin-right: 16px;
}

.birthdayContainer .birthdayText {
  font-size: 16px;
}

.rightBarFriendList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rightBarFollowButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffa;
  border-radius: 8px;
  padding: 12px;
  margin-top: 42px;
  cursor: pointer;
  max-width: 130px;
}

.rightBarFollowButton.unFollowBtn {
  background-color: #eee;
}

@media screen and (max-width: 767px) {
  .rightBarFollowButton {
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 100%;
  }
}

.rightBarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .rightBarTitle {
    cursor: pointer;
    text-align: center;
  }
  .rightBarTitle:hover {
    background-color: #fcfcd0;
  }
  .rightBarTitle.active {
    background-color: #fcfcd0;
  }
}

.rightBarInfo .rightBarInfoItem {
  margin-bottom: 10px;
}

.rightBarInfo .rightBarInfoItem .rightBarInfoKey {
  font-weight: 500;
  margin-right: 16px;
  color: #555;
}

.rightBarInfo .rightBarInfoItem .rightBarInfoValue {
  font-weight: 300;
}

.rightBarFollowings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 100px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 16px;
}

.rightBarFollowings .rightBarFollowingsLink {
  color: #000;
  text-decoration: none;
}

.rightBarFollowings .rightBarFollowingsLink:visited {
  color: #000;
}

.rightBarFollowings .rightBarFollowingsLink.noFriends {
  pointer-events: none;
}

.rightBarFollowings .rightBarFollowing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.rightBarFollowings .rightBarFollowing .rightBarFollowingImg {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 8px;
}

.rightBarFollowings .rightBarFollowing .rightBarFollowingName {
  text-decoration: none;
}
