.uploadTestContainer {
  /* Add a hover effect (blue shadow) */
}

.uploadTestContainer .image-preview-wrapper {
  display: block;
  max-width: 310px;
  width: 100%;
  border: 2px solid #cccccc;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.uploadTestContainer .spinner-wrapper {
  position: absolute;
  opacity: 0;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.uploadTestContainer .opacity-1 {
  opacity: 1;
}

.uploadTestContainer img {
  border: 1px solid #ddd;
  /* Gray border */
  border-radius: 4px;
  /* Rounded border */
  padding: 5px;
  /* Some padding */
  width: 300px;
  /* Set a small width */
}

.uploadTestContainer img:hover {
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
          box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.uploadTestContainer .text-center {
  text-align: center;
}

.uploadTestContainer .mb-5 {
  margin-bottom: 32px;
}

.uploadTestContainer .my-5 {
  margin: 32px 0;
}
