.sidebar {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  /* scroll bar */
}

.sidebar ::-webkit-scrollbar {
  width: 5px;
}

.sidebar ::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

.sidebar ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.sidebar .sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarList .sidebarListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.sidebarList .sidebarListItem .sidebarIcon {
  margin-right: 16px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
