.login {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .loginWrapper {
  width: 1200px;
}

.login .loginWrapper .loginLeft,
.login .loginWrapper .loginRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginLeft .loginLogo {
  font-size: 60px;
  font-weight: 800;
  color: purple;
  margin-bottom: 10px;
}

.loginLeft .loginDesc {
  font-size: 24px;
}

.loginRight .loginBox {
  width: 80%;
  background-color: #fff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loginRight .loginBox .loginInput {
  height: 48px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 16px;
}

.loginRight .loginBox .loginInput:focus {
  outline: none;
}

.loginRight .loginBox .loginButton {
  height: 48px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: none;
  background-color: purple;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginRight .loginBox .loginButton:hover {
  background-color: #9c009c;
}

.loginRight .loginBox .loginForget {
  text-align: center;
  color: #1877f2;
  margin-bottom: 16px;
}

.loginRight .loginBox .loginForget a {
  text-decoration: none;
}

.loginRight .loginBox .loginForget a:visited {
  color: #1877f2;
}

.loginRight .loginBox .loginForget a:hover {
  color: #000;
}

.loginRight .loginBox .loginRegisterButton {
  width: 60%;
  height: 48px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 10px;
  border: none;
  background-color: teal;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginRight .loginBox .loginRegisterButton:hover {
  background-color: #009494;
}

.loginRight .sampleLogin {
  cursor: pointer;
}
