.post {
	width: 100%;
	margin: 30px 0;
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.5);

	.postWrapper {
		padding: 15px;
		display: flex;
		flex-direction: column;
	}
}

.postTop {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.postTopLeft {
		display: flex;
		align-items: center;

		.postProfileImg {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			object-fit: cover;
			margin-right: 8px;
		}

		.postUsername {
			margin-right: 8px;
			font-weight: 700;
		}

		.emojiWrapper {
			font-size: 14px;

			img {
				width: 16px;
				height: 16px;
			}
		}
		.tagUserWrapper {
			.tagUserName {
				font-size: 14px;
				color: #000;
				text-decoration: underline;
				text-decoration-color: #000;
			}
		}

		.postDate,
		.postEditTime {
			font-size: 8px;
			font-weight: 500;
		}
	}

	.postTopRight {
		cursor: pointer;
	}
}

.postCenter {
	margin: 16px 0;
	border-radius: 12px;

	&.postCenterEditable {
		background-color: #eee;
		padding: 20px 0;
	}

	.postText {
		margin-top: 16px;
	}

	.postImg {
		width: 100%;
		margin-top: 16px;
		max-height: 500px;
		object-fit: contain;
	}

	//編輯post
	.postShareWrap {
		align-self: center;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 90%;
		background-color: #fff;
		border-radius: 30px;

		.postShareInput {
			border: none;
			background-color: transparent;
			font-size: 16px;
			width: 93%;
			resize: none;

			&:focus {
				outline: none;
			}
		}

		.uploadPostFileLabel {
			cursor: pointer;
		}

		.cancelPostImg {
			cursor: pointer;
			color: #dc3545;
			background-color: #fff;
			width: 20px;
			text-align: right;

			&:hover {
				color: #fc6272;
			}
		}

		@media screen and (max-width: 1400px) {
			.postShareInput {
				width: 90%;
			}
		}

		@media screen and (max-width: 576px) {
			.postShareInput {
				width: 80%;
			}
		}

		#sendPostBtn {
			&.disabled {
				cursor: not-allowed;
			}
		}
	}

	.postEditCancelWrap {
		align-self: center;
		text-align: center;

		.postEditCancel {
			cursor: pointer;

			&:hover {
				color: rgb(0, 19, 124) !important;
			}
		}
	}
}

.postBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.postBottomLeft {
		display: flex;
		align-items: center;

		.likeIcon {
			width: 24px;
			height: 24px;
			margin-right: 8px;
			cursor: pointer;
		}

		.postLikeCounter {
			font-size: 16px;
		}
	}

	.postBottomRight {
		.postCommentText {
			margin-right: 16px;
			cursor: pointer;
			border-bottom: 1px dotted #999;
			font-size: 16px;
		}
	}
}

.postComment {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	.commentShare {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		.commentShareLeft {
			.commentShareImg {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				object-fit: cover;
				margin-right: 8px;
			}
		}
		.commentShareRight {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			background-color: rgb(252, 252, 208);
			border-radius: 30px;

			.commentShareInput {
				border: none;
				background-color: transparent;
				font-size: 14px;
				width: 93%;
				resize: none;

				&:focus {
					outline: none;
				}
			}

			@media screen and (max-width: 1400px) {
				.commentShareInput {
					width: 90%;
				}
			}

			@media screen and (max-width: 576px) {
				.commentShareInput {
					width: 80%;
				}
			}

			#sendCommentBtn {
				&.disabled {
					cursor: not-allowed;
				}
			}
		}
	}
}
