.post {
  width: 100%;
  margin: 30px 0;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.5);
}

.post .postWrapper {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.postTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.postTop .postTopLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postTop .postTopLeft .postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

.postTop .postTopLeft .postUsername {
  margin-right: 8px;
  font-weight: 700;
}

.postTop .postTopLeft .emojiWrapper {
  font-size: 14px;
}

.postTop .postTopLeft .emojiWrapper img {
  width: 16px;
  height: 16px;
}

.postTop .postTopLeft .tagUserWrapper .tagUserName {
  font-size: 14px;
  color: #000;
  text-decoration: underline;
  -webkit-text-decoration-color: #000;
          text-decoration-color: #000;
}

.postTop .postTopLeft .postDate {
  font-size: 8px;
  font-weight: 500;
}

.postTop .postTopRight {
  cursor: pointer;
}

.postCenter {
  margin: 16px 0;
}

.postCenter .postText {
  margin-top: 16px;
}

.postCenter .postImg {
  width: 100%;
  margin-top: 16px;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.postBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.postBottom .postBottomLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postBottom .postBottomLeft .likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
}

.postBottom .postBottomLeft .postLikeCounter {
  font-size: 16px;
}

.postBottom .postBottomRight .postCommentText {
  margin-right: 16px;
  cursor: pointer;
  border-bottom: 1px dotted #999;
  font-size: 16px;
}

.postComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}

.postComment .commentShare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.postComment .commentShare .commentShareLeft .commentShareImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

.postComment .commentShare .commentShareRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #fcfcd0;
  border-radius: 30px;
}

.postComment .commentShare .commentShareRight .commentShareInput {
  border: none;
  background-color: transparent;
  font-size: 14px;
  width: 93%;
  resize: none;
}

.postComment .commentShare .commentShareRight .commentShareInput:focus {
  outline: none;
}

@media screen and (max-width: 1400px) {
  .postComment .commentShare .commentShareRight .commentShareInput {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .postComment .commentShare .commentShareRight .commentShareInput {
    width: 80%;
  }
}

.postComment .commentShare .commentShareRight #sendCommentBtn.disabled {
  cursor: not-allowed;
}
