.personalInfoWrap .personalInfoBox {
  padding: 16px 32px;
  background-color: #fff;
  border-radius: 12px;
  /* select */
}

.personalInfoWrap .personalInfoBox .personalInfoBtn {
  top: -4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.personalInfoWrap .personalInfoBox label {
  margin-bottom: 4px;
}

.personalInfoWrap .personalInfoBox input,
.personalInfoWrap .personalInfoBox select {
  height: 48px;
  border-radius: 8px;
  border: 0.5px solid #a1aab9;
  padding-left: 20px;
  margin-bottom: 16px;
}

.personalInfoWrap .personalInfoBox input:focus,
.personalInfoWrap .personalInfoBox select:focus {
  outline: none;
}

.personalInfoWrap .personalInfoBox input:disabled,
.personalInfoWrap .personalInfoBox select:disabled {
  border-width: 0 0 1px 0;
  border-radius: 0;
  background-color: transparent;
}

.personalInfoWrap .personalInfoBox select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.personalInfoWrap .personalInfoBox select.selectArrow {
  background-image: linear-gradient(45deg, transparent 50%, #888 50%), linear-gradient(135deg, #888 50%, transparent 50%) !important;
  background-position: calc(100% - 25px) 20px, calc(100% - 19px) 20px;
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
}

.personalInfoWrap .personalInfoBox textarea {
  border-radius: 8px;
  border: 0.5px solid #a1aab9;
  padding-left: 20px;
  margin-bottom: 16px;
  resize: none;
}

.personalInfoWrap .personalInfoBox textarea:focus {
  outline: none;
}

.personalInfoWrap .personalInfoBox textarea:disabled {
  border-width: 0 0 1px 0;
  border-radius: 0;
  background-color: transparent;
}

.personalInfoWrap .personalInfoBox .profileUserImgPreview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.personalInfoWrap .personalInfoBox .uploadProfileFileLabel,
.personalInfoWrap .personalInfoBox .uploadCoverFileLabel {
  cursor: pointer;
}

.personalInfoWrap .personalInfoBox .coverUserImgPreview {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.personalInfoWrap .personalInfoBox .personalInfoSubmitBtn {
  height: 48px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 10px;
  border: none;
  background-color: teal;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.personalInfoWrap .personalInfoBox .personalInfoSubmitBtn:hover {
  background-color: #009494;
}
