.register {
	width: 100vw;
	height: 100vh;
	background-color: #f8f8e8;
	display: flex;
	justify-content: center;
	align-items: center;

	.registerWrapper {
		width: 1200px;

		.registerLeft,
		.registerRight {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.registerLeft {
	.registerLogo {
		font-size: 60px;
		font-weight: 800;
		color: purple;
		margin-bottom: 10px;
	}

	.registerDesc {
		font-size: 24px;
	}
}

.registerRight {
	.registerBox {
		width: 80%;
		padding: 20px;
		background-color: #fff;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.registerInput {
			height: 48px;
			border-radius: 10px;
			border: 1px solid gray;
			font-size: 18px;
			padding-left: 20px;
			margin-bottom: 16px;

			&:focus {
				outline: none;
			}
		}

		.registerButton {
			height: 48px;
			margin-bottom: 16px;
			border-radius: 10px;
			border: none;
			background-color: purple;
			color: #fff;
			font-size: 20px;
			font-weight: 500;
			cursor: pointer;

			&:hover {
				background-color: rgb(156, 0, 156);
			}
		}

		.loginRegisterButton {
			width: 60%;
			height: 48px;
			align-self: center;
			border-radius: 10px;
			border: none;
			background-color: teal;
			color: #fff;
			font-size: 20px;
			font-weight: 500;
			cursor: pointer;

			&:hover {
				background-color: rgb(0, 148, 148);
			}
		}
	}
}
