.register {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .registerWrapper {
  width: 1200px;
}

.register .registerWrapper .registerLeft,
.register .registerWrapper .registerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerLeft .registerLogo {
  font-size: 60px;
  font-weight: 800;
  color: purple;
  margin-bottom: 10px;
}

.registerLeft .registerDesc {
  font-size: 24px;
}

.registerRight .registerBox {
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registerRight .registerBox .registerInput {
  height: 48px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 16px;
}

.registerRight .registerBox .registerInput:focus {
  outline: none;
}

.registerRight .registerBox .registerButton {
  height: 48px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: none;
  background-color: purple;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.registerRight .registerBox .registerButton:hover {
  background-color: #9c009c;
}

.registerRight .registerBox .loginRegisterButton {
  width: 60%;
  height: 48px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 10px;
  border: none;
  background-color: teal;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.registerRight .registerBox .loginRegisterButton:hover {
  background-color: #009494;
}
